.searchBar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.searchInput {
    width: 80%;
    margin-right: 10px;
}

.searchButton {
    background-color: #3f51b5;
    color: white;
    text-transform: none;
}

.searchButton:hover {
    background-color: #303f9f;
}
